.full-container{
    height: 80vh;
    background-color:  rgb(109, 133, 156);
}
.pro-text{
    background-color:  rgb(109, 133, 156);
    
}
.up-con{
    margin-top: 20%;
    width: 100%;
    height: 100%;
}
.low-con{
    
    align-items: center;
}