.upperContainer{
    height: 80vh;
    
    
    
    
}
.back{
    background-image: url(../../images/icon-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient(
        135deg,#208379 -10%,#051514 50%);
}
.textWe{
    color: wheat;
    margin-top: 25%;
}
.textW{
    color:white;
}

.buttonD{
    color: aliceblue;
    font-size: medium;
    text-decoration: none;
}
.buttonD:hover{
color:aliceblue
}

.img-my{
    width:300px;
    height: auto;
    margin-top: 15%;
}